<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevRant.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DevRant.WPF.Properties.Settings>
            <setting name="SizeGeneral" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LastChecked" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FollowedUsersUpdateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StoryRange" serializeAs="String">
                <value>Week</value>
            </setting>
            <setting name="StorySort" serializeAs="String">
                <value>Algo</value>
            </setting>
            <setting name="HideUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCreateTime" serializeAs="String">
                <value>False</value>
            </setting>
        </DevRant.WPF.Properties.Settings>
    </userSettings>
</configuration>